
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>Welcome to the QTS Vehicle Daily Inspection web application! This web app is a tool that QTS drivers and management 
    can use to keep track of daily vehicle maintenance. It acts as a log for recording driver's pre-shift inspections and 
    allows management to monitor issues that may arise during these inspections. Please log in and complete an inspection 
    before starting each shift.</p>