@{
    ViewBag.Title = "Home";
}


<div class="jumbotron">
    <h1>Daily Inspection</h1>
    <p class="lead">Please inspect your vehicle daily before starting your shift.</p>
    <p>@Html.ActionLink("Start \u00BB", "Create", "Inspections", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

